<%= form_tag do %>
  	<div class="well">
 

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <%= text_field_tag :name, params[:name], placeholder: "Name" %> &nbsp; &nbsp; 
        <%= password_field_tag :password, params[:password],  placeholder: "Password" %>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
  </div>
<% end %>
<br />