<h1>Overdue Books</h1>
<ol>
  <% @overdue_reservations.each do |reservation| %>
  <li>
    <div>
      <div style="width:100px;float:left;display:inline-block;height:130px">
        <%= image_tag reservation.book.image_cover_url, :class =>'all_books' %>
      </div>
      <div style="margin-left:200px; height:130px">
        <%= reservation.book.title %> <br />
        Reserved - <%= reservation.reserved_on.to_s(:short) %> <br />
        Due - <%= reservation.due_on.to_s(:short) %><br>
        <b><i>Overdue!</i></b>
      </div>
    </div>
	</li>
	<% end %>
</ol>