// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.all_authors {
	width: 100px;
	height: 100px;
}

img.all_books {
	width: 75px;
	height: 100px;
}

img.single_author {
	width: 200px;
	height: 200px;
}

ul.book_ul, ul.authors_ul{
	list-style-type:none;
	padding-left:0;

	li {
		padding:3px;
	}
}

