// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.all_authors {
	max-width: 200px;
	max-height: 100px;
}

img.single_author {
	max-width: 400px;
	max-height: 200px;
}