// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.details {
	color: #428bca;
	font: 18px arial, sans-serif;
	font-weight: bold;
}